.h1, h1 {
  font-size: 1.9rem!important;
}
.h2, h2 {
    font-size: 1.5rem!important;
}
.h3, h3 {
    font-size: 1.4rem!important;
}
.h4, h4 {
    font-size: 1.3rem!important;
}
.h5, h5 {
    font-size: 1.2rem!important;
}
.h6, h6 {
    font-size: 1.1rem!important;
}

.card {
    padding: 0!important;
}